/* azeret mono font embed code */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* universal styles start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Azeret Mono", monospace;
}

:root {
    --primary-color: #0D1321;
    --primary-70-color: #0d1321d0;
    --primary-20-color: #0d132160;
    --white-color: #FFFFFF;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.title {
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 24px;
}

.sub-title {
    color: var(--primary-70-color);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

.description {
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    opacity: 0.7;
}

.btn {
    display: inline-block;
    color: var(--white-color);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    border: 1px solid var(--primary-color);
    background-color: transparent;
    padding: 17px 24px;
    border-radius: 8px;
    transition: 0.3s;
    text-decoration: none;
    background-color: var(--primary-color) !important;
}

.btn-secondary {
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    border: 1px solid var(--primary-color);
    opacity: 0.7;
    padding: 12px 20px;
    text-decoration: none;
    display: inline-block;
    transition: 0.3s;
}

.btn-secondary:hover {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn:hover {
    background-color: transparent !important;
    color: var(--primary-color);
}

/* nav section styles start */
#header .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

#header .navigation h2 {
    color: var(--primary-color);
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
}

#header .navigation button {
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    border: 1px solid var(--primary-color);
    background-color: transparent;
    padding: 17px 24px;
    border-radius: 8px;
    opacity: 0.8;
    transition: 0.3s;
    cursor: pointer;
}

#header .navigation button:hover {
    background-color: var(--primary-color);
    color: white;
}

/* nav section styles end */

/* banner section styles start */
#banner-section {
    background-image: url('../assets/Hero-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 652px;
}

#banner-section .banner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    width: 998px;
}

#banner-section .banner-container .banner-content h1 {
    color: var(--primary-color);
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
}

#banner-section .banner-container .banner-content p {
    margin: 24px 0 30px 0;
}

/* banner section styles end */


/* web development section styles start */
#web-development {
    margin: 80px 0;
}

#web-development .web-container {
    padding: 0 80px;

}

#web-development .web-container .web-layers-container {
    margin: 100px 0;
    padding: 0 100px;
}

#web-development .web-container .web-layers-container .web-layer {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    margin-bottom: 30px;
}

#web-development .web-container .web-layers-container .web-layer p {
    text-align: left;
    margin: 16px 0 32px 0;
}

#web-development .web-container .web-layers-container .web-layer img {
    vertical-align: middle;
}

#web-development .web-container .web-layers-container .web-layer:nth-child(1) {
    flex-direction: row-reverse !important;
}

#web-development .web-container .web-layers-container .web-layer:nth-child(3) {
    flex-direction: row-reverse !important;
}

/* web development section styles end */

/* inspiration section styles start */
#inspiration-section {
    margin: 80px 0;
}

#inspiration-section .inspiration-container .inspiration-video {
    padding: 32px;
    border: 1px solid var(--primary-20-color);
    border-radius: 16px;
    margin-top: 50px;
}

#inspiration-section .inspiration-container .inspiration-video iframe {
    border-radius: 16px;
}

/* inspiration section styles end */

/* target section styles start */
#target-section {
    margin: 80px 0;
}

#target-section .target-container .target-skills {
    margin-top: 50px;
    display: flex;
    gap: 30px;
}

#target-section .target-container .target-skills .skills {
    border-radius: 16px;
    background-color: #FF4C1E0D;
    padding: 40px;
}

#target-section .target-container .target-skills .skills:nth-child(2) {
    background-color: #004CE80D;
}

#target-section .target-container .target-skills .skills:nth-child(3) {
    background-color: #FFDF000D;
}

#target-section .target-container .target-skills .skills h3 {
    color: var(--primary-color);
    margin: 24px 0 8px 0;
}

#target-section .target-container .target-skills .skills p {
    text-align: left;
    margin-bottom: 24px;
}

#target-section .target-container .target-skills .skills a {
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-decoration: none;
    border-bottom: 2px solid var(--primary-color);
}

/* target section styles end */

/* support section styles start */
#support-section {
    margin: 80px 0;
}

#support-section .support-container {
    background-image: linear-gradient(#0d132160, #0d132160), url('../assets/handshake.jpg');
    padding: 64px 48px;
    border-radius: 16px;
}

#support-section .support-container .support-content h2,
#support-section .support-container .support-content p {
    color: var(--white-color);
}

#support-section .support-container .support-form form {
    text-align: center;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#support-section .support-container .support-form form input {
    width: 60%;
    box-sizing: border-box;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    background: var(--white-color);
    padding: 18px 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    border: none;
}

#support-section .support-container .support-form form input::placeholder {
    color: var(--primary-70-color);
}

#support-section .support-container .support-form form input:focus {
    outline: none;
    color: var(--primary-70-color);
}

#support-section .support-container .support-form form button {
    color: var(--primary-70-color);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    padding: 16px 20px;
    border-radius: 8px;
    background-color: var(--white-color);
    outline: none;
    border: none;
}

/* support section styles end */